html,body {height: 100%;}
body{margin:0;}

#tablas{
    color: white
}

.botones{
    width: 100%;
    box-sizing: border-box;
}
.boton1{
    position: absolute;
    
}
.boton2{
    position: absolute;
    left: 130px;
}
.boton3{
    position: absolute;
    left: 280px;
}

