<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>ArmaTuBandeja</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/fonts/ionicons.min.css}">

</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md" style="background-color: #eb8e20;">
        <div class="container-fluid"><a class="navbar-brand float-right"
                href="#"><strong><em>TuBandeja4GO!</em></strong></a><button class="navbar-toggler float-right"
                data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
                    class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse text-right border rounded float-right" id="navcol-1"
                style="background-color: #4b4a4a;">
                <ul class="nav navbar-nav">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="/"
                            style="color: #ffffff;">Inicio</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" th:href="menu"
                            style="color: #fefefe;">Menu</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" th:href="pedidos"
                            style="color: #fffefd;">Pedir</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link text-right float-right" th:href="contacto"
                            style="color: #ffffff;">Contactanos</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link text-right float-right"
                            th:href="loginadministradores" style="color: #ffffff;">Administradores</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div></div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>
    <div class="login-dark">
        <form method="POST">
            <h2 class="sr-only">Login Form</h2>
            <div class="illustration"><i class="icon ion-ios-locked-outline"></i></div>
            <div class="form-group"><input class="form-control" type="email" name="correo" placeholder="Email"></div>
            <div class="form-group"><input class="form-control" type="password" name="password"
                    placeholder="Contraseña"></div>
            <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Entrar</button></div><a
                href="#" class="forgot">¿Ha olvidado su correo electrónico o contraseña?</a>
        </form>
    </div>

    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Servicios</h3>
                        <ul>
                            <li><a href="#">Web design</a></li>
                            <li><a href="#">Desarrollador</a></li>
                            <li><a href="#">Hosting</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Sobre Nosotros</h3>
                        <ul>
                            <li><a href="#">Compañia</a></li>
                            <li><a href="#">Equipo</a></li>
                            <li><a href="#">Funcionarios</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>TuBandeja4GO!</h3>
                        <p>TuBandeja4GO!
                            somos una aplicación que sea posible escoger entre un menú diario que también se mostrará de
                            manera semanal, en el que
                            puedan agregar o quitar alimentos, y en donde al finalizar su elección, puedan escoger una
                            hora
                            durante el día entre las 12 del medio día y las 16hrs. para retirar su bandeja, mientras les
                            sea
                            permitido, tanto por la cantidad de pedidos como por el límite horario, así luego paguen
                            dentro de
                            la misma aplicación, y se les entregue un número de atención con su horario de estimación de
                            entrega. De esta manera evitaremos todo lo que es la fila de compra, como la fila de retiro.
                        </p>
                    </div>
                    <div class="col item social"><a href="https://www.facebook.com/TuBandeja4GO"><i
                                class="icon ion-social-facebook"></i></a><a
                            href="https://www.twiiter.com/TuBandeja4GO"><i class="icon ion-social-twitter"></i></a><a
                            href="https://www.snapchat.com/TuBandeja4GO"><i class="icon ion-social-snapchat"></i></a><a
                            href="https://www.instagram.com/TuBandeja4GO"><i class="icon ion-social-instagram"></i></a>
                    </div>
                </div>
                <p class="copyright">TuBandeja4GO! © 2019</p>
            </div>
            <script src="assets/js/jquery.min.js"></script>
            <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>